<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dream.somnipotent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SignInActivity"

            android:theme="@style/ThemeOverlay.MyNoTitleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".HomeScreenActivity" >
        </activity>
        <activity android:name=".Settings"
            android:label="Settings"
            android:parentActivityName=".HomeScreenActivity">
        </activity>
        <activity android:name=".DreamJournalActivity"
            android:label="Dream Journal"
            android:parentActivityName=".HomeScreenActivity">
        </activity>
        <activity android:name=".RealityCheckActivity"
            android:label="Reality Checks"
            android:parentActivityName=".HomeScreenActivity">
        </activity>
        <activity android:name=".LucidDreamActivity"
            android:label="Lucid Dream Exercises"
            android:parentActivityName=".HomeScreenActivity">
        </activity>
        <activity
            android:name=".AddDataActivity"
            android:label="@string/title_activity_add_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RCAddDataActivity"
            android:label="@string/title_activity_add_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LDEAddDataActivity"
            android:label="AddDataActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".RCUpdateActivity" />
        <activity android:name=".LDEUpdateActivity" />
        <activity android:name=".InstructionActivity"></activity>
        <receiver android:name=".ChannelOneAlarm"/>
        <receiver android:name=".ChannelTwoAlaram"/>
    </application>

</manifest>